@page "/GetTrafficData"

@using BlazorApp50.Pages.TrafficReports.Dtos;

@code{
    bool loading = true;
}

<h1>Traffic reports</h1>

@if (TrafficReports == null)
{
    <Skeleton Active="true" Title="true"></Skeleton>
}
else if (TrafficReports.Count == 0)
{
    <Empty Image="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
           ImageStyle='@("height: 60px")'>
        <DescriptionTemplate>
            <span>No traffic reports found</span>
        </DescriptionTemplate>
        <ChildContent>
            <Button type="@ButtonType.Primary" OnClick="@ShowModal">Create Now</Button>
        </ChildContent>
    </Empty>
}
else
{
<div>
    <AntDesign.Row Gutter="(16,32)">
        <AntDesign.Col>
            <AntDesign.Button Type="@ButtonType.Primary" Icon="add" Shape="@ButtonShape.Round" OnClick="@ShowModal">Create Report</AntDesign.Button>
        </AntDesign.Col>
    </AntDesign.Row>

    <br />
    <br />

    <AntDesign.Row Gutter="(16,32)">
        <AntDesign.Col>
            <AntDesign.Table TItem="TrafficReportDto" DataSource="@TrafficReports">
                <Column Title="Date" @bind-Field="@context.CreatedDate" Sortable />
                <Column Title="Summary" @bind-Field="@context.Summary" />
            </AntDesign.Table>
        </AntDesign.Col>
    </AntDesign.Row>
</div>
}